<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

    </style>
</head>
<body>
<div class="jumbotron" style="background-color: #2962FF; color: white; margin-bottom: 0px; padding-bottom: 2%;">
    <div class="row">
        <div class="col-md-12 col-xs-12" style="text-align: center; margin-top: 3%;">
            <h2>Welcome to Quizzer</h2>
            <p>Add or view your Quizes here.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3" style="margin-top: 50px; margin-left: 30px;">
        <div class="panel panel-default" id="newquiz" style="padding: 10px; background-color: #F5F5F5;">
            <div class="panel-body">
                <form role="form" id="createnewquiz">
                    <div class="form-group" style="margin-top: 20px;">
                        <label>QUIZ NAME</label>
                        <input class="form-control" id="quizname" style="height: 40px;">
                    </div>
                    <div class="form-group">
                        <label>QUIZ TIME</label>
                        <input class="form-control" id="quiztime" style="height: 40px;">
                    </div>
                    <div class="form-group">
                        <label>QUIZ QUES</label>
                        <input class="form-control" id="quizques" style="height: 40px;">
                    </div>
                    <button class="btn btn-primary btn-block" style="margin-top: 50px; height: 40px; background-color: #2962FF; color: white;">CREATE NEW QUIZ</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <table id="table" class="table table-responsive table-hover">
            <thead>
            <tr>
                <th>QuizName</th>
                <th>QuizQues</th>
                <th>QuizTime</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

    <script   src="https://code.jquery.com/jquery-2.2.1.min.js"   integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="   crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script>
        $("#createnewquiz").submit(function(e){
            e.preventDefault();
            var name = $("#quizname").val();
            var time = $("#quiztime").val();
            var ques = $("#quizques").val();
            var url = window.location.href;
            console.log(url);
            url= url.split("/");
            var tm= url[url.length -1];
            $.ajax({
                method: "POST",
                url: "/api/quiz",
                data: {
                    name: name,
                    question: ques,
                    time: time
                }
            }).done(function(msg){
                console.log(msg);
                $.ajax({
                    method: "POST",
                    url: "/api/course/"+tm+"/addquiz",
                    data: {
                        name: name
                    }
                }).done(function(msg){
                    console.log(msg);
                    console.log("Finished adding quiz");
                    window.location.reload(true);
                });
            });
            console.log("Finished");
        })
    </script>

    <script>
        var name,id;
        var url = window.location.href;
        console.log(url);
        url= url.split("/");
        url= url[url.length -1];
        console.log(url);
        $.ajax({
            method: "GET",
            url: "/api/course/" + url
        }).done(function(data){
            console.log(data);
            if(data){
                var len = data.quizs.length;
                var txt = "";
                if(len > 0){
                    for(var i=0;i<len;i++){
                        if(data.quizs[i].name && data.quizs[i].time){
                            var tm = "/quiz/"+data.quizs[i].name;
                            console.log(tm);
                            txt += "<tr><td> <a href=\""+tm+"\">"+data.quizs[i].name+"</a></td><td>"+data.quizs[i].question+"</td><td>"+data.quizs[i].time+"</td></tr>";
                        }
                    }
                    if(txt != ""){
                        $("#table").append(txt);
                    }
                }
            }
        });
        console.log("Finished");
    </script>


</body>
</html>